:root{
	/* blue */
	--BLUE: #58C4DD;
	--BLUE_A: #C7E9F1;
	--BLUE_B: #9CDCEB;
	--BLUE_C: #58C4DD;
	--BLUE_D: #29ABCA;
	--BLUE_E: #236B8E;

	/* teal */
	--TEAL: #5CD0B3;
	--TEAL_A: #ACEAD7;
	--TEAL_B: #76DDC0;
	--TEAL_C: #5CD0B3;
	--TEAL_D: #55C1A7;
	--TEAL_E: #49A88F;

	/* green */
	--GREEN: #83C167;
	--GREEN_A: #C9E2AE;
	--GREEN_B: #A6CF8C;
	--GREEN_C: #83C167;
	--GREEN_D: #77B05D;
	--GREEN_E: #699C52;

	/* yellow */
	--YELLOW: #FFFF00;
	--YELLOW_A: #FFF1B6;
	--YELLOW_B: #FFEA94;
	--YELLOW_C: #FFFF00;
	--YELLOW_D: #F4D345;
	--YELLOW_E: #E8C11C;

	/* gold */
	--GOLD: #F0AC5F;
	--GOLD_A: #F7C797;
	--GOLD_B: #F9B775;
	--GOLD_C: #F0AC5F;
	--GOLD_D: #E1A158;
	--GOLD_E: #C78D46;

	/* red */
	--RED: #FC6255;
	--RED_A: #F7A1A3;
	--RED_B: #FF8080;
	--RED_C: #FC6255;
	--RED_D: #E65A4C;
	--RED_E: #CF5044;

	/* maroon */
	--MAROON: #C55F73;
	--MAROON_A: #ECABC1;
	--MAROON_B: #EC92AB;
	--MAROON_C: #C55F73;
	--MAROON_D: #A24D61;
	--MAROON_E: #94424F;

	/* purple */
	--PURPLE: #9A72AC;
	--PURPLE_A: #CAA3E8;
	--PURPLE_B: #B189C6;
	--PURPLE_C: #9A72AC;
	--PURPLE_D: #715582;
	--PURPLE_E: #644172;

	/* other */
	--PINK: #D147BD;
	--LIGHT_PINK: #DC75CD;
	--ORANGE: #FF862F;
	--LIGHT_BROWN: #CD853F;
	--GRAY_BROWN: #736357;

	/* pure */
	--PURE_BLUE: #0000FF;
	--PURE_GREEN: #00FF00;
	--PURE_RED: #FF0000;

	/* monotone */
	--WHITE: #FFFFFF;
	--GRAY_A: #DDDDDD;
	--GRAY_B: #BBBBBB;
	--GRAY_C: #888888;
	--GRAY_D: #444444;
	--GRAY_E: #222222;
	--BLACK: #000000;

	/* gray-scale */
	--LIGHTER_GRAY: #DDDDDD;
	--LIGHT_GRAY: #BBBBBB;
	--GRAY: #888888;
	--DARK_GRAY: #444444;
	--DARKER_GRAY: #222222;

	--DARK_BLUE: #236B8E;
	--DARK_BROWN: #8B4513;

	/* logo */
	--LOGO_BLACK: #343434;
	--LOGO_BLUE: #525893;
	--LOGO_GREEN: #87C2A5;
	--LOGO_RED: #E07A5F;
	--LOGO_WHITE: #ECE7E2;

	/* c.f. manim_color */

	/* stellar-def-color */
	--bg-color: #25405B;
	--active-bg-color:#00689A33;
	--highlight-color: #00527AB3;
	--white-blue: #c9fdff;
	--lighter-blue: #8DE8ED;
	--light-blue: #00ccff;
	--dark-blue: #2d4974;
	--darker-blue: #143658;
	--darkest-blue: #172B3E;
	--translucent-dark-blue: #476faa98;
	--translucent-icon-color: #8dabd8f6;
	--white: #ffffff;
	--black: #000000;
	--translucent-white: #ffffffa8;
	--text-color: #C6D0F5;
	--quit-color: #fc635542;
	--stellar-tab-text-color: var(--translucent-icon-color);
	--stellar-tab-text-color-active: var(--BLUE_B);

	/* settings
	--max-width: 88%;
	--line-width: 40rem;
	--content-margin: auto;
	--folding-offset: 32px;
	--file-folding-offset: 0px;
	--file-line-width: auto;
	--file-margins: 1rem 0 0 var(--folding-offset);
	--list-spacing: 0.075em;
	--tag-padding-y: 0.2em; */
}

.theme-dark {
	--background-primary: var(--bg-color);
	--background-primary-alt: var(--bg-color);
	--background-secondary: var(--bg-color);
	--background-secondary-alt: var(--bg-color);
	--divider-color: var(--light-blue);
	--scrollbar-thumb-bg: var(--translucent-dark-blue);
	--scrollbar-active-thumb-bg: var(--light-blue);
	--status-bar-text-color: var(--translucent-white);
	--caret-color: var(--light-blue);
	--icon-color: var(--translucent-icon-color);
	--icon-color-hover: var(--light-blue);
	--icon-color-active: var(--BLUE_B);
	--icon-color-focused: var(--BLUE_B);
	--interactive-normal: var(--dark-blue);
	--interactive-accent: var(--light-blue);
	--interactive-hover: var(--BLUE_E);
	--interactive-accent-hover: var(--BLUE_D);
	--checkbox-border-color: var(--translucent-dark-blue);
	--checkbox-border-color-hover: var(--light-blue);
	--checklist-done-color: var(--translucent-white);
	--indentation-guide-color: var(--translucent-dark-blue);
	--modal-background: var(--bg-color);
	--metadata-label-text-color: var(--text-color);
	--modal-border-color: var(--light-blue);
	--metadata-background: var(--darker-blue);
	--metadata-border-color: var(--light-blue);
	--metadata-divider-color: var(--light-blue);
	--metadata-divider-color-hover: var(--light-blue);
	--metadata-divider-color-focus: var(--light-blue);
	--metadata-property-background-active: var(--highlight-color);
	--metadata-label-background-active: var(--highlight-color);
	--metadata-input-background-active: var(--highlight-color);
	--metadata-border-width: 1px;
	--metadata-divider-width: 1px;
	--vault-profile-color: var(--translucent-icon-color);
	--nav-item-color: var(--translucent-icon-color);
	--nav-item-background-active: var(--highlight-color);
	--nav-item-background-hover: var(--highlight-color);
	--nav-item-color-hover: var(--BLUE_B);
	--nav-item-color-active: var(--BLUE_B);
	--nav-indentation-guide-color: var(--translucent-dark-blue);
	--nav-collapse-icon-color: var(--translucent-dark-blue);
	--nav-collapse-icon-color-collapsed: var(--translucent-dark-blue);
	--slider-thumb-border-color: var(--light-blue);
	--slider-track-background: var(--lighter-blue);
	--tab-background-active: var(--highlight-color);
	--tab-text-color: var(--translucent-icon-color);
	--tab-text-color-hover: var(--BLUE_B);
	--tab-text-color-active: var(--BLUE_B);
	--tab-text-color-focused: var(--translucent-icon-color);
	--tab-text-color-focused-active: var(--BLUE_B);
	--tab-text-color-focused-active-current: var(--BLUE_B);
	--input-border-width: 1px;
	--toggle-border-width: 1px;
	--toggle-s-border-width: 1px;
	--toggle-thumb-color: var(--BLUE_A);
	--background-modifier-form-field: var(--dark-blue);
	--background-modifier-border: var(--light-blue);
	--background-modifier-border-hover: var(--light-blue);
	--background-modifier-border-focus: var(--light-blue);
	--blockquote-background-color: var(--darker-blue);
	--code-background: var(--darker-blue);
	--heading-formatting: var(--translucent-icon-color);
	--hr-color: var(--light-blue);
	--hr-thickness: 1px;
	--text-normal: var(--text-color);
	--text-faint: var(--translucent-dark-blue);
	--blockquote-color: var(--translucent-icon-color);
	--inline-title-size: 1.5em;
	--h1-size: 1.125em;
	--h2-size: 1.05em;
	--h3-size: 1em;
	--h4-size: 0.90em;
	--h5-size: 0.85em;
	--h6-size: 0.85em;
	--h1-color: var(--light-blue);
	--h2-color: var(--light-blue);
	--h3-color: var(--light-blue);
	--h4-color: var(--light-blue);
	--h5-color: var(--light-blue);
	--h6-color: var(--light-blue);
	--code-punctuation: var(--translucent-dark-blue);
	--list-marker-color: var(--translucent-dark-blue);
	--text-muted: var(--translucent-dark-blue);
	--code-property: var(--light-blue);
	/* --outline-heading-color: var(--light-blue);
	--outline-heading-color-hover: var(--light-blue);
	--outline-heading-color-active: var(--light-blue);
	--outline-heading-weight-active: var(--light-blue); */
	--text-highlight-bg: var(--translucent-dark-blue);
	--background-modifier-hover: var(--active-bg-color);
	--titlebar-text-color: var(--translucent-icon-color);
	--titlebar-text-color-focused: var(--translucent-icon-color);
	--text-muted: var(--translucent-icon-color);
	--leaflet-borders: #ffffff1a;
	--leaflet-buttons: var(--bg-color);

	/* settings */
	--max-width: 88%;
	--line-width: 40rem;
	--content-margin: auto;
	--folding-offset: 32px;
	--file-folding-offset: 0px;
	--file-line-width: auto;
	--file-margins: 1rem 0 0 var(--folding-offset);
	--list-spacing: 0.075em;
	--tag-padding-y: 0.2em;
	--input-shadow: 0 0 0 1px var(--translucent-dark-blue);
	--file-header-font-size: 13px;
	--file-header-font-weight: 400;
	--font-adaptive-normal: 16px;
	--font-adaptive-small: calc(13px* 1.07);
	--font-adaptive-smaller: 13px;
	--font-adaptive-smallest: 11px;
}

.nav-buttons-container {
    justify-content: flex-start;
}

body:not(.is-phone) .workspace-leaf.mod-active .tree-item-self.has-focus {
    box-shadow: 0 0 0 1px var(--background-modifier-border-focus);
}

.metadata-property:focus-within, .metadata-property:hover{
	box-shadow: 0 0 0 0px var(--background-modifier-border-focus) !important;
}

.titlebar-button:hover{
	color:  var(--light-blue);
}

.titlebar-button.mod-close:hover{
	background-color: var(--quit-color) !important;
}

.cm-indent.cm-active-indent{
	color: var(--translucent-dark-blue);
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-contentContainer.cm-contentContainer>.cm-content>div, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.inline-title {
    max-width: var(--max-width);
    width: var(--line-width);
    margin-inline: var(--content-margin) !important;
}

.markdown-preview-view ol>li, .markdown-preview-view ul>li, .markdown-source-view ol>li, .markdown-source-view ul>li, .mod-cm6 .HyperMD-list-line.cm-line {
    padding-top: var(--list-spacing);
    padding-bottom: var(--list-spacing);
}

.cm-gutters {
    position: absolute !important;
    z-index: 0;
    margin-inline-end: 0;
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
    margin-left: 0px;
    margin-right: 0px;
}

.markdown-preview-view{
	padding-left: 32px;
	padding-top: 16px;
}

.markdown-preview-sizer{
	margin: 0px !important;
}

.markdown-source-view.mod-cm6 .cm-sizer {
    display: block;
    width: 100%;
    min-height: 100%;
}

.inline-title{
	padding-top: 16px;
	display: block;
	text-align: left;
	inline-size: auto;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer>div, .markdown-source-view.mod-cm6.is-readable-line-width .cm-contentContainer.cm-contentContainer>.cm-content>div, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.embedded-backlinks, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer>.metadata-container {
    max-width: var(--max-width);
    margin-inline: var(--content-margin) !important;
}

.mod-header{
	inline-size: auto;
}

.cm-lineWrapping{
	max-width: var(--max-width);
    width: var(--line-width);
    margin-inline: var(--content-margin) !important;
}

.cm-scroller {
	padding: var(--file-margins);
}

.checkbox-container input[type='checkbox'] {
    background-color: var(--bg-color);
}

.checkbox-container{
	background-color: var(--darker-blue);
}

.checkbox-container.is-enabled{
	background-color: var(--light-blue);
}

.cm-line{
	max-width: var(--max-width);
    width: var(--line-width);
    margin-inline: var(--content-margin) !important;
	inline-size: auto;
}

.cm-line.cm-active{
    background-color: var(--active-bg-color);
    box-shadow: -25vw 0 var(--active-bg-color), 25vw 0 var(--active-bg-color);
}

.cm-gutterElement{
	min-width: 20px;
	white-space: nowrap;
    text-align: right;
	block-size: auto;
	padding: 0px 5.5px 0px 5px;
	padding-inline-end: 5.5px;
	padding-inline-start: 5px;
}

.cm-active.cm-gutterElement{
	color: var(--light-blue);
}

.cm-link{
	color: var(--light-blue) !important;
}

.Í¼1 .cm-scroller {
    display: flex !important;
    align-items: flex-start !important;
    font-family: monospace;
    line-height: 1.4;
    height: 100%;
    overflow-x: auto;
    position: relative;
    z-index: 0;
    overflow-anchor: none;
}

.cm-formatting-header{
	color: var(--translucent-dark-blue);
}

.cm-punctuation, .cm-bracket, .cm-tag{
    color: var(--light-blue);
}

.cm-s-obsidian span.cm-formatting-link, .cm-s-obsidian span.cm-formatting-link-string {
	color: var(--text-color);
}

.cm-s-obsidian .HyperMD-table-row span.cm-hmd-table-sep, .cm-s-obsidian .HyperMD-table-row-1 {
    color: var(--translucent-dark-blue);
}

.cm-hmd-frontmatter.cm-hmd-frontmatter.cm-def, .cm-hmd-frontmatter {
    color: var(--light-blue); /* properties_color */
}

.cm-string.cm-url{
	color: var(--translucent-icon-color) !important;
}

.cm-s-obsidian span.cm-formatting-quote {
    color: var(--translucent-icon-color);
}

textarea:active, input.metadata-input-text:active, input[type='date']:active, input[type='datetime-local']:active, input[type='text']:active, input[type='search']:active, input[type='email']:active, input[type='password']:active, input[type='number']:active, textarea:focus, input.metadata-input-text:focus, input[type='date']:focus, input[type='datetime-local']:focus, input[type='text']:focus, input[type='search']:focus, input[type='email']:focus, input[type='password']:focus, input[type='number']:focus, textarea:focus-visible, input.metadata-input-text:focus-visible, input[type='date']:focus-visible, input[type='datetime-local']:focus-visible, input[type='text']:focus-visible, input[type='search']:focus-visible, input[type='email']:focus-visible, input[type='password']:focus-visible, input[type='number']:focus-visible{
	box-shadow: 0 0 0 1px var(--background-modifier-border-focus);
}

button:focus-visible {
    box-shadow: 0 0 0 1px var(--background-modifier-border-focus);
}

.dropdown:hover{
	box-shadow: 0 0 0 1px var(--background-modifier-border-focus);
}

.dropdown:focus{
	box-shadow: 0 0 0 1px var(--background-modifier-border-focus);
}

.status-bar{
	border: none;
}

h1, h2, h3 ,h4, h5, h6, .HyperMD-header{
    border-bottom: 1px solid var(--light-blue);
    padding-bottom: .4em;
    margin-block-end: .6em;
}

.view-content.beautitab-root{
	block-size: auto !important;
}

body:not(.sidebar-tabs-underline):not(.sidebar-tabs-index):not(.sidebar-tabs-square) .workspace>.workspace-split:not(.mod-root) .workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    --tab-outline-width: 0;
}

#calendar-container{
	padding: 0px 16px 4px 16px !important;
}

.workspace-leaf-content[data-type=calendar] .view-content {
    padding: 5px 0 0 0;
}

.nav.svelte-1vwr9dd{
	margin: 8px 4px !important;
	padding: 0% !important;
	block-size: auto !important;
}

.title.svelte-1vwr9dd{
	padding: 0%;
	border: none;
	block-size: auto !important
}

#calendar-container .month, #calendar-container .title, #calendar-container .year {
    font-size: calc(var(--font-adaptive-small) + 2px);
    font-weight: 400;
    color: var(--text-normal);
}

.right-nav.svelte-1vwr9dd{
	block-size: auto !important;
}

.reset-button.svelte-1vwr9dd{
	margin: 0% !important;
	padding: 2px 8px !important;
	font-size: 13px !important;
	font-weight: 500 !important;
	text-transform: none !important;
}

#calendar-container .arrow svg {
    width: 12px;
    height: 12px;
    color: var(--translucent-dark-blue);
    opacity: .7;
}

#calendar-container .day.adjacent-month {
    color: var(--translucent-dark-blue);
    opacity: 1;
}


.workspace-tabs:not(.mod-stacked) {
	--tab-background-active: var(--highlight-color);
    --tab-text-color: var(--stellar-tab-text-color);
    --tab-text-color-focused: var(--stellar-tab-text-color);
	--tab-text-color-hover: var(--stellar-tab-text-color-active);
    --tab-text-color-active: var(--stellar-tab-text-color-active);
    --tab-text-color-focused-active: var(--stellar-tab-text-color-active);
    --tab-text-color-focused-active-current: var(--stellar-tab-text-color-active);
}

.workspace-leaf-content.beautitab{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .theme-light {
	--light-background-primary: var(--white);
	--light-background-secondary: var(--white);
	--divider-light-color: var(--light-blue);
} */
